body {
  background: oldlace;
  font-family: "Lato", sans-serif;
}
h1 {
  text-align: center;
  font-size: 80px;
  font-weight: 300;
  margin-top: 1em;
}
h2, .subheader {
  font-size: 22px;
  text-align: center;
  font-style: italic;
  font-weight: 300;
  margin: 0;
}

.main-container {
  max-width: 100%;
  padding: 0;
}
.custom {
  background-color: rgb(52, 52, 52);
}
.section.level2 {
  text-align: center;
  padding: 1em 0;
}
.section.level2 * {
  text-align: left;
  margin: 1em auto;
  width: 50%;
  max-width: 940px;
}
.darkslide {
  background-color: #343434;
  color: darkorange;
}
.firebrick {
  background-color: firebrick;
  color: white;
}
.darkorange {
  background-color: darkorange;
  color: #343434;
}